<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/images/pet.svg" type="image/x-icon">
    <title>A caminho....</title>
</head>
<body>
   <div class="borda">
    <h1>Obrigado!!!</h1>
    <p class="paragrafo">Seu futuro melhor amigo(a) esta a caminho...</p>
    <p class="paragrafo">Em até 48Hrs a Ong/Institução responsavel pelo seu Pet retornara o contato.</p>
    <a href="http://localhost:4200/index">🛖</a>
   </div> 
</body>
</html>