<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cntato</title>
</head>
<body>
    <header class="header">
        <sfc-header></sfc-header>
        
    </header>

  <div class="beacon">

    <a class="beacon-link" href="mailto:seuemail@exemplo.com">Enviar E-mail</a>
    <a class="beacon-link" href="https://api.whatsapp.com/send?phone=SEUNUMERODETELEFONE"> WhatsApp</a>
    

  </div>

  <footer>
    <sfc-footer></sfc-footer>
  </footer>
</body>
</html>