<div class="cards">
    <div *ngFor="let animal of animals">
        <div class="container cards">
            <div class="card">
              <div class="card-header">
                <img [src]="animal.photo"/>
            </div>
            <div class="card-body">
                <p class="card-titulo">{{ animal.name }}</p>
                <p class="card-local">{{ animal.local }}, {{ animal.state }}</p>
            </div>
            <div class="card-footer" (click)="navigateSite('forms')">
                Quero Adotar!
            </div>
        </div>
    </div>
</div>
