<div class="footer">
    <div class="footer-item first-item">
        <div class="logo">
            <img src="../../assets/images/pet.svg">
            <p><span>Ado</span>pet</p>
        </div>
        <div>
            <p> programa criado por alunos para estreitar laços entre pessoas que têm o sonho de adotar um pet e nossas ONGs e protetores parceiros. Vamos juntos incentivar a adoção.</p>
        </div>
    </div>
    <div class="footer-item alignment">
        <p class="tittle">Contato</p>
        <p>adopet@contato.com.br</p>
        <p>(11)0000-0000</p>
        <p>(11)94929-6727</p>
    </div>
    <div class="footer-item alignment">
        <p class="tittle tittle-color">Como ajudar?</p>
        <p>Quero adotar</p>
        <p>Seja um protetor</p>
        <p>Quero doar!</p>
    </div>
</div>
