@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/cascadia-mono');

* {
  font-family: 'Cascadia Mono', sans-serif;
}

// // HOME
// .home {
//     background-image: url(./../assets/images/background-home.svg);
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     z-index: 100000;
// }

// HEADER
.alignment {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;

    button {
      font-weight: 700;
    }
}

.highlighted {
    button {
        background: #3D2D22;
        border: 1px solid rgba(160, 101, 12, 0.3);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        width: 164px;
        height: 47px;
    }   
}

.logo {
    display: flex
}

.image {
    width: 100%;
    position: relative;
    top: -106px;
    z-index: -1;
    background-color: #FFAF15;
}

button {
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 23px;
    appearance: none;
    border: none;
    background-color: initial;
    cursor: pointer;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    img {
        margin-bottom: -2px;
        background-color: transparent;
    }
}

// BODY

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  

.blackWhite {
    color: black;
  
    span {
      color: white;
    }
}



