<form method="POST" action= "https://formsubmit.co/tutupereiragodinho@gmail.com"  >
    <input type="hidden" name="_autoresponse" value="Pronto! Recebemos suas informaçoes e logo a Ong/Instituição retornara o contato.">
    
    <input type="hidden" name="_template" value="box">
    <input type="hidden" name="_subject" value="Nova Adoção!">
    <!-- <input type="hidden" name="_captcha" value="false"> -->
   



    <div class="alinhamento-centro background">
        <div class="margin-top">
            Precisamos saber se seu perfil é adequado.
        </div>
        <div class="alinhamento margin">
            <div>
                <div>
                    <input type="text" placeholder="Nome" class="nome" name="nome" required>
                </div>
                <div class="alinhamento">
                    <div>
                        <input type="date" placeholder="Data de nascimento" class="nascimento" name="data-de-nascimento" required>
                    </div>
                    <div>
                        <input type="email" placeholder="Email" class="email" name="email" required>
                    </div>
                </div>
                <div class="alinhamento campos-espacamento">
                    <div>
                        <input type="text" placeholder="CPF" name="cpf">
                    </div>
                    <div>
                        <input type="number" placeholder="Tel" name="celular" required>
                    </div>
                    <div>
                        <input type="number" placeholder="CEP" name="cep" required>
                    </div>
                </div>
                <div>
                    <input class="input-size-endereco" type="text" placeholder="Rua" name="endereco" required>
                </div>
            </div>
            <div>
                <div>
                    <input type="text" placeholder="Estado" class="bloco-dois" name="estado">
                </div>
                <div>
                    <input type="text" placeholder="Cidade" class="bloco-dois" name="cidade" >
                </div>
                <div class="alinhamento">
                    <div>
                        <input type="number" placeholder="Numero" class="bloco-dois-numero1">
                    </div>
                    <div>
                        <input type="text" placeholder="Complemento" class="bloco-dois-numero2">
                    </div>
                </div>
                <div>
                    <select type="pet-escolhido" name="pet-escolhido"  required>
                        <option value="Escolha"  disabled >Escolha um Pet!</option>
                        <option value="Anahi">Anahi</option>
                        <option value="Apolo">Apolo</option>
                        <option value="Amora">Amora</option>
                        <option value="Desirre">Desirre</option>
                        <option value="Bill">Bill</option>
                        <option value="Agnes">Agnes</option>
                      </select>
                </div>
                <div>
                    
                </div>
            </div>
        </div>
        <!-- ---------------------------------------------------- PRECISAMOS SABER MAIS---------------------------------------------------- -->
        <div class="margin">
            <h3>OK, anotado! Agora precisamos saber mais sobre você?</h3>
        </div>
        <div class="margin">
            <div>
                <div class="alinhamento">
                    <div class="espacamento-checkbox">
                        <!-- Casa propria ou alugada -->
                        <p>Casa própria ou alugada?</p>
                        <div class="alinhamento">
                            <div class="alinhamento">
                                <input type="radio" name="moradia" id="própria" value="Própria">
                                <label class="espacamento-checkbox" for="própria">Própria</label>
                            </div>
                            <div class="alinhamento">
                                <input type="radio" name="moradia" id="alugada" value="Alugada">
                                <label class="espacamento-checkbox" for="alugada">Alugada</label>
                            </div>
                        </div>
                    </div>
                    <div class="espacamento-checkbox">
                        <!-- Acordo com a doação -->
                        <p>Todos da casa estão de acordo com a adoção?</p>
                        <div class="alinhamento">
                            <div class="alinhamento">
                                <input type="radio" name="todos-de-acordo" id="sim" value="Sim">
                                <label for="sim" class="espacamento-checkbox">Sim</label>
                            </div>
                            <div class="alinhamento">
                                <input type="radio" name="todos-de-acordo" id="Não" value="Não">
                                <label for="Não" class="espacamento-checkbox">Não</label>
                            </div>
                        </div>
                    </div>
                    <div class="espacamento-checkbox">
                        <!-- Formulario Crianças -->
                        <p>Tem crianças em casa</p>
                        <div class="alinhamento"> 
                            <div class="alinhamento">
                                <input type="radio" name="criancas-em-casa" id="sim" value="Sim">
                                <label for="sim" class="espacamento-checkbox">Sim</label>
                            </div>
                            <div class="alinhamento">
                                <input type="radio" name="criancas-em-casa" id="Não" value="Não">
                                <label for="Não" class="espacamento-checkbox">Não</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div >
                <button type="submit" class="button">Enviar</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="_next" value= "http://127.0.0.1:5500/src/app/end/end.component.html" >
</form>