<div>
    <div class="header">
        <sfc-header></sfc-header>
        <div></div>
    </div>
    <div class="campanha">
        <h2>Campanha de adoção</h2>
        <p> Uma seleção especial de peludinhos que buscam um lar para chamar de seu. Não encontrou seu pet aqui ainda? Preencha o formulário de intenção que uma ONG parceria entrará em contato com você</p>
    </div>
    <div class="pets">
        <h3>Pets Disponiveis</h3>
        <app-card [animals]="animals"></app-card>
    </div>
    <div>
        <sfc-footer></sfc-footer>
    </div>
</div>
