.header {
    background-image: url('../../assets/images/background-quero-adotar.svg');
    margin-top: -25px;
}

.campanha {
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    background-color: #3D2D22;
    padding: 20px;
    color: white;

    h2 {
        margin-bottom: 10px;
    }
}

.pets {
    h3 {
        margin: 20px 0px 0px 20px;
    }
}